*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("/iiiiimage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

p {
    /* Set font family */
    font-family: Arial, sans-serif;
  
    /* Set font size */
    font-size: 16px;
  
    /* Set line height for better readability */
    line-height: 1.6;
  
    /* Set text color */
    color: #333;
  
    /* Add some padding */
    padding: 0px;
  
    margin: 0 auto 20px auto; 

    width: 60%; 
  
    border: 2px solid #ccc;
  
    border-radius: 10px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s ease;

    

  }
  
  /* On hover, change background color */
  p:hover {
    background-color: #66bb6a;
  }
  input[type="text"] {
    /* Reset margins and padding */
    margin: 0;
    padding: 0;
    
    /* Adjust alignment if needed */
    text-align: left; /* Set to "left" if you want the text aligned to the left */
  }